<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>KadaiThymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.nyuryoku}"></h2>
    <p th:text="#{content.nyuryokuform}"></p>
    <p th:if="${previous != null and previous != ''}" th:text="'前回入力された値は「' + ${previous} +'」でした。'"></p>
    <form method="post" action="/output">
        <input type="text" name="val">
        <button type="submit" th:text="#{content.send}"></button>
    </form>
</body>
</html>